{{- define "main" -}}

<div class="pub" itemscope itemtype="http://schema.org/CreativeWork">

  {{ partial "page_header.html" . }}

  <div class="article-container">

    {{ if .Params.abstract }}
    <h3>{{ i18n "abstract" }}</h3>
    <p class="pub-abstract" itemprop="text">{{ .Params.abstract | markdownify }}</p>
    {{ end }}

    {{ if .Params.publication_types }} 
      {{ if ne (index .Params.publication_types 0) "0" }}
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-12 col-md-3 pub-row-heading">{{ i18n "publication_type" }}</div>
            <div class="col-12 col-md-9">
              {{ $pub_types := partial "functions/get_pub_types" $ }}
              {{ range $index, $pubtype := .Params.publication_types }}
              <a href="{{ (site.GetPage "section" "publication").RelPermalink }}#{{ . | urlize }}">
                {{ index $pub_types (int .) }}
              </a>
              {{ end }}
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="d-md-none space-below"></div>
      {{ end }}
    {{ end }}

    {{ if .Params.publication }}
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-12 col-md-3 pub-row-heading">{{ i18n "publication" }}</div>
          <div class="col-12 col-md-9">{{ .Params.publication | markdownify }}</div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="d-md-none space-below"></div>
    {{ end }}

    <div class="space-below"></div>

    <div class="article-style">{{ .Content }}</div>

    {{ partial "tags.html" . }}
    {{ partial "page_author.html" . }}

  </div>
</div>

{{ if site.Params.section_pager }}
<div class="article-container article-widget">
  {{ partial "section_pager.html" . }}
</div>
{{ end }}

{{- end -}}